<!doctype html>
<html lang="no">
<head>
    <meta charset="utf-8">
    <title>{{page.title}} - {{site.name}}</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>

<div id="wrapper-header">
	<div id="header">
		
			<p>Når det gjelder menneskelige ressurser, kontakt og dialog.</p>
		
		<a href="/" id="logo"><img src="/img/ledelse-logo.png" width="271" height="105" alt="ledelse og dialog"></a>

	</div>
</div>

<div id="wrapper-body">	
	<div id="sidebar">


<ul id="menu">








{% assign segments = page.url | split: '/' %}
{% assign currentpage = segments[1] %}
{% assign subpage = segments[2] %}
{% assign pages = site.pages | sort: "name" %}
{% assign categories = site.categories %}



{% for page in pages %}

    {% capture 'url' %}{{page.url | remove: 'index.html' | split: '/' }}{% endcapture %}
    {% capture 'url_length' %}{{ url | size }}{% endcapture %}
    
    {% unless url_length contains '0' %}        
        <li>
            <a href="{{page.url | remove: 'index.html'}}">{{page.title}}</a>                        
            {% for cat in categories %}
                {% assign caturl = cat[0] | downcase %}
                {% if caturl contains url and currentpage contains url %}
                    <ul>
                        {% for post in cat[1] %}
                            {% assign posturlsegments = post.url | split: '/' %}
                            {% capture 'posturl' %}{% for posturlsegment in posturlsegments | offset: 2 | limit: 1 %}{{ posturlsegment }}{% endfor %}{% endcapture %}
                            {% if posturl contains subpage %}
                                <li class="active"><a href="{{ post.url }}">{{ post.title }}</a></li>
                            {% else %}
                                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                            {% endif %}
                        {% endfor %}        
                    </ul>                    
                {% endif %}    
            {% endfor %}  
        </li>
    {% endunless %}
{% endfor %}



</div>
<div id="content">
	
   <h1>{{page.title}}</h1>

